{% include 'templates/header.html' %}
<body>
    <div class="container">
		<img src="/TeamLink/resources/images/logo.png" alt="logo image" class="logo-image"></img>
        	<div class="login-panel">
				<h1 class="center-align">Sign in</h1>
                	<form method="post" action="login.php">
                    <p>
                        <label class="form-label">Email:</label>
                        <input class="textbox" name="email" type="text" value='{{ email }}'/>
                        <strong>{{ error['email']? error['email'] }}</strong>
                    </p>
                    <p>
                        <label class="form-label">Password:</label><input class="textbox" name="pass" type="password" />
                        {{ error['pass']? error['pass'] }}
                    </p>
                    <div class="center-align">
                    	<a href="index.php" class="btn btn-primary">Back</a>
						<input class="btn btn-primary" type="submit" value="Log in" />
                	</div>
				</form>
            </div>
        </div>
    </div>
</body>
</html>
