{% include 'templates/header.html' %}
{% include 'templates/navbar.html' with nav %}
<?php include "resources/templates/header.php"; ?>
<?php include "resources/templates/navbar.php"; ?>
<body>
    <div id="join-panel" class="panel panel-primary">
        <div class="panel-body">
            {% if length == 0 %}
                You have no teams :(
            {% else %}
                <script src='resources/javascript/test.js'></script>
                <form method="post" action='myteams.php' id='myteams_form'>
                <input type="hidden" id="team" name="team" value="-1"></input>
                <table class="table table-striped table-bordered">
                    <tr><th>Team Title</th><th>Description</th><th>Role</th><th>Public?</th><th></th><th></th></tr>
                    {% for row in rows %}
                        <tr>
                            <td>{{ row['title'] }}</td>
                            <td>{{ row['description'] }}</td>
                            <td>{{ row['role'] }}</td>
                            <td>{{ ((row['public'])? "Yes" : "No") }}</td>
                            <td><a href='editteam.php?id={{ row['id'] }}'>Edit</a></td>
                            <td><button type="button" onclick="setDeletedTeam(event, {{ row['id'] }})">Delete Team</button></td>
                        </tr>
                    {% endfor %}
                </table>
                </form>
            {% endif %}
        </div>
    </div>
</body>
</html>

