{% include 'templates/header.html' %}
<body>
    <div id="signup-panel" class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <a href="/index.php" class="btn btn-default btn-sm"><</a>
                    Enter your information
            </div>
            <div class="panel-body">
                <form method="post" action="/signup.php">
                    <p>
                        <label class="form-label">Email:</label><input class="textbox" name="email" type="text" value='{{ email }}'/>
                        {% if error['email'] %}
                        {{ error['email'] | raw }}
                        {% endif %}
                    </p>
                    <p>
                        <label class="form-label">University:</label><input class="textbox" name="university" type="text" value='{{ university }}'/>
                        {% if error['university'] %}
                        {{ error['university'] | raw }}
                        {% endif %}
                    </p>
                    <p>
                        <label class="form-label">Role:</label>
                        <select name="role">
                            {% for role in roles %}
                            <option>{{ role }}</option>
                            {% endfor %}
                        </select>
                        {% if error['role'] %}
                        {{ error['role'] | raw }}
                        {% endif %}
                    </p>
                    <p>
                        <label class="form-label">First Name:</label>
                        <input class="textbox" name="firstName" type="text" value='{{ firstName }}'/>
                        {% if error['firstName'] %}
                        {{ error['firstName'] | raw }}
                        {% endif %}
                    </p>
                    <p>
                        <label class="form-label">Last Name:</label>
                        <input class="textbox" name="lastName" type="text" value='{{ lastName }}'/>
                        {% if error['lastName'] %}
                        {{ error['lastName'] | raw }}
                        {% endif %}
                    </p>
                    <p>
                        <label class="form-label">Password:</label>
                        <input class="textbox" name="pass1" type="password" />
                        {% if error['pass1'] %}
                        {{ error['pass1'] | raw }}
                        {% endif %}
                    </p>
                    <p>
                        <label class="form-label">Confirm password:</label>
                        <input class="textbox" name="pass2" type="password" />
                        {% if error['pass2'] %}
                        {{ error['pass2'] | raw }}
                        {% endif %}
                    </p>
                    <p>
                        <label class="form-label">Department:</label>
                        <input class="textbox" name="department" type="text" value='{{ department }}'/>
                        {% if error['department'] %}
                        {{ error['department'] | raw }}
                        {% endif %}
                    </p>
                    <p>
                        <label class="form-label">Major:</label>
                        <input class="textbox" name="major" type="text" value='{{ major }}'/>
                        {% if error['major'] %}
                        {{ error['major'] | raw }}
                        {% endif %}
                    </p>
                    <p>
                        <label class="form-label">Interests:</label>
                        <textarea name="interests" rows="4" cols="50">{{ interests }}</textarea>
                        {% if error['interests'] %}
                        {{ error['interests'] | raw }}
                        {% endif %}
                    </p>
                    <div class="submit-button"><input class="btn btn-primary btn-block" type="submit" value="Submit" /></div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
