body
{
    background-image: url("/TeamLink/resources/images/blueprint.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.form-label
{
}

#home-panel
{
    position: absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    width: 30%;
}

#login-panel
{
    position: absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    width: 30%;
}

#signup-panel
{
    position: absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    width: 50%;
}

.search-box
{
	display: block;
	float: right;
}

.logo-image
{
	width: 30%;
	display: block;
	margin: auto;
	margin-top: 1em;
	margin-bottom: 1em;
}

.nav-logo
{
	width: 10%;
	display: block;
	float: left;
	padding-top: 5px;
	padding-right: 5px;
}

.signout-link
{
	float: right;
}

.navbar
{
	background-color: #337ab7;
	border: none;
}

.navbar-default .navbar-nav>li>a
{
	color: #FFFFFF;
} 

.navbar-default .navbar-nav>li>a:hover 
{
	color: #FFFFFF;
	background-color: #204d74;
}

.navbar-default .navbar-nav>.active>a 
{
	color: #EEEEEE;
	background-color: #204d74;
}

.login-panel
{
	background: white;
	width: 75%;
	margin: auto;
	padding: 1em;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.center-align
{
	text-align: center;
}

.error-label
{
	color: red;	
}

#menu-panel
{
    position: absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    width: 50%;
}

#join-panel
{
    position: absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    width: 50%;
}

.submit-button
{
    width: 25%;
}

.logo
{
    width: 75%;
    padding-right: 1.5em;
}
