{% block modal %}
<!-- Modal -->
<div class="modal" id="myModal" role="dialog" data-show="true">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{% block modal_header %}{% endblock %}</h4>
            </div>
            <div class="modal-body">
                {% if request_method == "POST" %}
                    {{ error|length? "An error occurred" : ((message)? message : "Changes saved") }}
                {% endif %}
                <p>{% block modal_content %}{% endblock %}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<script>
{% if (error['modal']) %}
    $('#myModal').modal('show');
{% endif %}
</script>
{% endblock %}