<nav class="navbar navbar-inverse bg-primary">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/TeamLink/">TeamLink</a>
        </div>
        <ul class="nav navbar-nav">
            <li {{ page == "/TeamLink/menu.php"? "class='active'" }}>
                <a href="/TeamLink/menu.php">Main Menu</a>
            </li>
            <li {{ page == "/TeamLink/profile.php"? "class='active'" }}>
                <a href="/TeamLink/profile.php">Profile</a>
            </li>
            <li {{ page == "/TeamLink/myteams.php" or page == "/TeamLink/editteam.php"? "class='active'" }}>
                <a href="/TeamLink/myteams.php">My Teams</a>
            </li>
            <li {{ page == "/TeamLink/createteam.php"? "class='active'" }}>
                <a href="/TeamLink/createteam.php">Create a Team</a>
            </li>
            <li {{ page == "/TeamLink/jointeam.php"? "class='active'" }}>
                <a href="/TeamLink/jointeam.php">Join a Team</a>
            </li>
            {% if admin %}
                <li {{ page == "/TeamLink/approveteam.php"? "class='active'" }}>
                    <a href="/TeamLink/approveteam.php">Approve teams</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
