<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <a href="/TeamLink/"><img src="/TeamLink/resources/images/logo.png" class="nav-logo"></img></a>
			</li>
            <li {{ page == "/TeamLink/profile.php"? "class='active'" }}>
                <a href="/TeamLink/profile.php">Profile</a>
            </li>
            <li {{ page == "/TeamLink/teams.php" or page == "/TeamLink/editteam.php"? "class='active'" }}>
                <a href="/TeamLink/teams.php">Teams</a>
            </li>
            <li {{ page == "/TeamLink/jointeam.php"? "class='active'" }}>
                <a href="/TeamLink/jointeam.php">Join a Team</a>
            </li>
			<li class="signout-link">
				<a href="/TeamLink/signout.php">Sign out</a>
			</li>
        </ul>
    </div>
</nav>
