<nav class="navbar navbar-inverse bg-primary">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">TeamLink</a>
        </div>
        <ul class="nav navbar-nav">
            <li {{ page == "/menu.php"? "class='active'" }}>
                <a href="menu.php">Main Menu</a>
            </li>
            <li {{ page == "/profile.php"? "class='active'" }}>
                <a href="/profile.php">Profile</a>
            </li>
            <li {{ page == "/myteams.php" or page == "/editteam.php"? "class='active'" }}>
                <a href="/myteams.php">My Teams</a>
            </li>
            <li {{ page == "/createteam.php"? "class='active'" }}>
                <a href="/createteam.php">Create a Team</a>
            </li>
            <li {{ page == "/jointeam.php"? "class='active'" }}>
                <a href="/jointeam.php">Join a Team</a>
            </li>
            {% if admin %}
                <li {{ page == "/approveteam.php"? "class='active'" }}>
                    <a href="/approveteam.php">Approve teams</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
