<script src='resources/javascript/test.js'></script>
<div class="update-div">
    <label>Description</label>
    {% block description %}
    {% endblock %}
</div>
<div class="update-div">
    <label>Roles</label>
    {% block form %}
    {% endblock %}
</div>